body {
  font-family: "Noto Sans", Helvetica, Arial, sans-serif;
  margin: 0;
}

header {
  display: flex;
  height: 2em;
  width: 100%;
  margin: 2em 3.3333333333%;
}

header img {
  height: 2em;
  width: auto;
}

header input {
  width: 20%;
  text-align: center;
  margin: 0 40%;
  position: absolute;
  height: 2em;
  border-radius: 5px;
  border: 2px solid #f4f4f4;
  background-color: #fafafa;
  font-family: "Noto Sans", Helvetica, Arial, sans-serif, FontAwesome;
}

main {
  background-color: #fafafa;
  border-top: 1px solid #f4f4f4;
  padding: 3.3333333333%;
}

.profile {
  display: flex;
}

.profile #profile-img {
  width: 200px;
  min-width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 6.6666666667%;
}

.profile img {
  margin: -10px;
}

.profile h2 {
  font-weight: normal;
}

.profile .info {
  margin: 3.3333333333%;
  flex-grow: 2;
}

.profile .info .stats {
  font-size: 0.9em;
  display: flex;
}

.profile .info .stat-item {
  padding-right: 10%;
}

.profile .info .stat-data {
  font-weight: bold;
}

.profile .info ul {
  list-style-type: none;
  padding: 0;
}

.gallery {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.gallery .wrapper {
  height: 230px;
  overflow: hidden;
  margin-bottom: 3.3333333333%;
}

.gallery .wrapper img {
  margin-top: -30%;
}
